h1{color:dimgrey;
}
h2{color:dimgrey;
}
h2{margin-top: 100px;
}
h2{color:dimgray;
}
#ima1{width: 50%;
}
#ima2{width: 50%;
}
#ima1{border: solid 3px dimgray;
}
#ima2{border: solid 3px dimgray
}
h1{margin-bottom: 50px;
}
h2{margin-top: 50px;
}
h3{margin-top: 50px;
}
#ima1{margin-top: 50px;
}
#ima2{margin-top: 50px;
}
h1{margin-left: 760px;
}
h2{font-size: 100%;
}
h2{margin-left: 900px;
}
h3{margin-left: 900px;
}
#ima1{margin-left: 500px;
}
#ima2{margin-left: 500px;
}
h4{margin-left: 500px;
}
h5{margin-left: 800px;
}
.parte{margin-left:500px;
}
.parte{font-size: 100% ;
}
h6{text-align: center;
}
.parte{margin-left: 700px;
}